{% if not error %}
	<table>
		<tr class="header noborder">
			<th>Name</th>
			<th>Value</th>
			<th>Scalar</th>
			<th>Numeric</th>
			<th>Writable</th>
			<th class="noborder">Plotable</th>
		</tr>
		{% for at in attrs %}
			<tr title="{{ at.Desc|safe }}">		{# uzywam filtra safe poniewaz w opisie wystepuje kod HTML (&#13;) #}
				<td>{{ at.Name }}</td>
				<td>{{ at.Value }}</td>
				<td>{{ at.Scalar }}</td>
				<td>{{ at.Numeric }}</td>
				<td>{{ at.Writable }}</td>
				<td class="noborder">{{ at.Plotable }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<div class="error">
		{{ error|safe }}	{# tutaj tez wystepuje kod HTML #}
	</div>
{% endif %}
