{% extends "generic.html" %}

{% block header %}
	<h1>{{ poll.question }}</h1>
{% endblock %}

{% block content %}
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	<form action="/poll/{{ poll.key.urlsafe }}" method="post">
		{% csrf_token %}
		{% for choice in poll.choices %}
			<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
			<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
		{% endfor %}
		<input type="submit" value="Vote!" />
	</form>
	<small style="float:right;"><a href="/results/{{ poll.key.urlsafe }}">View results</a></small>
{% endblock %}